__pycache__/
.ipynb_checkpoints/
web/flask_etsy_app/static/machine_learning_model
web/flask_etsy_app/total_listing_data
web/flask_etsy_app/machine_learning_model_saved
etsy_item_price_estimation/total_listing_data
etsy_item_price_estimation/machine_learning_model_500wordfeatures
etsy_item_price_estimation/__pycache__/
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*
